<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Adding a Review</h1>
<div>
    <form th:object="${review}" th:action="@{saveReview}" action="#" method="post">
        Text: <br>
        <input type="text" th:field="*{body}" class="form-control"
               placeholder="Leave your comment here" />
        <div style="clear: both; display: block; height: 10px;"></div>

        Username: <br>
        <input type="text" th:field="*{user}" class="form-control"
               placeholder="Longitude" />
        <div style="clear: both; display: block; height: 10px;"></div>

        <input type="submit" class="btn btn-primary" value="saveReview"></input>
    </form>
</div>
</body>
</html>