<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Google Map Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <!--to turn on Wendi.css, uncomment the line below-->
    <!--<link type="text/css" rel="stylesheet" th:href="@{css/wendi.css}" />-->

    <style type="text/css">
        div#map_container {
            width: 100%;
            height: 350px;
        }


    </style>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
        function loadMap() {

            var value = [(${bathrooms})];

            var starterLocation = value[0];
            var latlng = new google.maps.LatLng(starterLocation.lat,starterLocation.lon);

            var myOptions = {
                zoom: 12,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map_container"), myOptions);

            // make markers
            for (var i = 0; i < value.length; i++) {
                console.log(value[i]);

                var curVal = value[i];
                var curLoc = new google.maps.LatLng(curVal.lat,curVal.lon);

                var marker = new google.maps.Marker({
                    position: curLoc,
                    map: map,
                    title: curLoc.description
                });
            }

        }


    </script>
</head>
<body onload="loadMap()">

<h1>HELLO WORLD!!! [[${bathrooms}]]</h1>


<div id="map_container"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a href="/add" class="btn btn-primary">Add A Bathroom</a>
</div>
</body>

</html>